body {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgb(61, 2, 32);
	overflow: hidden;
}

#description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 3%;
	margin-right: 3%;
	background-color: rgb(31, 2, 17);
	border-radius: 5%;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

h1 {
	font-family: "Baloo Tammudu 2", cursive;
	color: white;
	font-size: 3rem;
}

p {
	font-family: "Baloo Tammudu 2", cursive;
	color: white;
	font-size: 1.2rem;
}
